<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GIF4000</title>
  </head>

  <body style="background-color: #1c1c1c">
    <img
      src="http://localhost:5000/output"
      width="500"
      height="400"
      style="position: fixed; top: 20px; left: 300px"
    />
    <img
      src="http://localhost:5000/banner"
      width="700"
      height="350"
      style="position: fixed; top: 400px; left: 200px"
    />
    <img
      src="http://localhost:5000/qr"
      width="270"
      height="270"
      style="position: fixed; top: 430px; left: 10px"
    />
  </body>
</html>
